# Astro build output
/dist
/.astro/

# Dependencies
/node_modules

# Log files
/npm-debug.log*
/.pnpm-debug.log*

# Local environment variables
.env
.env.local

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Thumbnails
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
